*.pyc
Image-Level-Processing/patches_train/
Image-Level-Processing/patches_test/
extracted_data/
patches_test/
patches_train/
Latent-Deep-Features/patches_train/
Latent-Deep-Features/patches_test/
data/CBIR_15-Scene
images_test/
images_train/
original_images_raw/
all_components_pca_images_reconstructed/
reduced_components_pca_images_reconstructed/
all_components_pca_images_reconstructed/
all_components_pca_images_residuals/
reduced_components_pca_images_residuals/
specific_components_pca_images_reconstructed/
similar_*/
