*.pyc
Image-Level-Processing/patches_train/
Image-Level-Processing/patches_test/
extracted_data/
patches_test/
patches_train/
Latent-Deep-Features/patches_train/
Latent-Deep-Features/patches_test/
data/CBIR_15-Scene
images_test/
images_train/
original_images_raw/
